@import "tailwindcss";

@font-face {
  font-family: "Founders Grotesk";
  src: url("./fonts/FoundersGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@theme {
  --font-founder: "Founders Grotesk", sans-serif;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-neuemontreal: "NeueMontreal", sans-serif;
}

